# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac folder attributes
.DS_Store

Output
Data/Output
Data/12PercentTension
Data/Image
Data/Microtexture
Data/SmallIN100

# Files TOO large to put into Git Repo
SmallIN100
Atomistics
Dislocation
SyntheticTest
Data/Image
Data/SmallIN100

#Other files and folders possibly in this folder
DREAM3D_Short_Course_Metz
Data2
Data/statsfiles
TestFiles*.tar.gz
TestFiles
